# Ignore dependencies
node_modules/
#package-lock.json

# Ignore build artifacts
.next/
#prepros.config

# Ignore version control files
.git/
.gitignore

# Ignore environment files (don't copy sensitive info)
#.env
.env.sample

# Ignore logs & cache
*.log
logs/
.cache/

# Ignore editor & system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ignore old config files
#oldStaticRedirects.mjs